{% extends 'base.html.twig' %}

{% block title %}New SignalerCommentaire{% endblock %}

{% block body %}
    <h1>Create new SignalerCommentaire</h1>

    {{ include('signaler_commentaire/_form.html.twig') }}

{% endblock %}
