{% extends 'base.html.twig' %}

{% block title %}Actualité{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            {% for actualite in actualites %}
                <div class="card">
                    <div class="col-lg-3">
                        <img src="{{ 'actualites/'~actualite.image}}" class="card-img-top">
                        <div class="card-body">
                            <h5 class="card-title">{{ actualite.titre }}</h5>
                            <a href="{{ path('app_actualite_show', {'id': actualite.id}) }}"class="btn btn-primary">
                            Voir les détails</a>
                        </div>
                    </div>
                </div>                
            {% endfor %}
        </div>
    </div>
{% endblock %}
