{% extends 'base.html.twig' %}

{% block title %}Actualité{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="card">
                <div class="col-lg-12">
                    <img src="{{ 'uploads/actualites/' ~ actualite.image }}" class="card-img-top">
                    <div class="card-body">
                        <h5 class="card-title">{{ actualite.titre }}</h5>
                        <div class="card-text">{{ actualite.contenu|raw }}</div>
                        <p class="text-muted">{{ actualite.date|date('d/m/Y') }}</p>
                        <a href="#"class="btn btn-primary">Ajouter un commentaire</a>
                        </div>
                        </div>
                    </div>
                </div>                
            </div>
        </div>
    </div>
{% endblock %}
